body{
    background-color:aquamarine;
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.gridcontainer{
    display:grid;
    background-color:blueviolet;
    grid-template-columns:0.6fr 1fr 1fr 0.6fr;
    grid-template-rows:1fr 1fr;
    text-align: center;
    height:auto;
    
    
}
.component{
    
    height: 150px;
    background-color:green;
    margin:10px;
}
#item-a{
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end:2;
    background-color: orange;
}
#item-b{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
}
#item-c{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
}
@media screen and (max-width:740px) and (min-width:375px){
    body{
        background-color:white;
    }

    #item-a{
        grid-column-start: 2;
        grid-column-end:4;
        grid-row-start:2;
        grid-row-end:3;
}
#item-b{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
}
#item-c{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
}
}
@media screen and (max-width:374px) {
    body{
        background-color:red;
    }
    .gridcontainer{
        grid-template-columns: 15px 1fr 15px;
        grid-template-rows:1fr 1fr 0.5fr;
    }
    #item-b{
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:2;
    }
    #item-a{
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:2;
        grid-row-end:3;
    }
    #item-c{
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:3;
        grid-row-end:4;
    }
}